.mainContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 20px;
}
.containerDiv {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.containerDiv h4, .containerDiv p {
    padding: 10px;
    text-align: center;
}
.containerDiv h4 {
    font-weight: bold;
}
.containerDiv p span {
    font-weight: 600;
}
.containerDiv .infoContainer {
    margin: 0;
    padding: 20px;
    
}
.containerDiv .imgContainer {
    width: 320px;
    height: 450px;
    margin-bottom: 20px;
}
.containerDiv .imgContainer .mainImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}
.containerDiv .thumbnailContainer {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: hidden;
}
.containerDiv .thumbnailContainer .thumbnail {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: .7;
    overflow-x: hidden;
}
.containerDiv .thumbnailContainer .thumbnail:hover {
    opacity: 1;
}
.activeImage {
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}
