.mainContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 20px;
}
.imgDivContainer {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.detailDivContainer {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.detailDivContainer h4, .detailDivContainer p {
    padding: 10px;
    text-align: start;
}
.detailDivContainer h4 {
    font-weight: bold;
}
.detailDivContainer p span {
    font-weight: 600;
}
.detailDivContainer .infoContainer {
    margin: 0;
    padding: 20px;
    
}
.imgDivContainer .imgContainer {
    max-width: 320px;
    margin-bottom: 20px;
}
.imgDivContainer .imgContainer .mainImg {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}
.imgDivContainer .thumbnailContainer {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgDivContainer .thumbnailContainer .thumbnail {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: .7;
    overflow-x: hidden;
}
.imgDivContainer .thumbnailContainer .thumbnail:hover {
    opacity: 1;
}
.activeImage {
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}
.borderBottom {
    border-bottom: 2px solid #24262B;
}
@media (max-width: 769px) {
    .mainContainer {
        flex-direction: column;
    }
    .imgDivContainer {
        width: 100vw;
    }
    .imgDivContainer .thumbnailContainer {
        max-width: 350px;
        flex-flow: row wrap;
        justify-content: center;
    }
    .detailDivContainer {
        width: 100vw;
        align-items: center;
    }
    .detailDivContainer h4, .detailDivContainer p {
        text-align: center;
    }
}