form {
    width: 100%;
}
form .formGroup {
    width: 100%;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    font-size: 1rem;
}
input, textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: .5rem;
    outline: none;
    border: none;
    color: #333;
    background-color: #f9f9f985;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
textarea {
    min-height: 258px;
    resize: vertical;
}
.contactContainer {
    background-color: white;
    gap: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
}
@media (max-width: 800px) {
    .contactContainer {
        gap: 2rem;
    }
}
.contactContainer .leftContainer {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
}
.contactContainer .rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding-bottom: 20px;
}
.leftContainer ul {
    margin: 0;
    padding: 0;
}
.leftContainer ul li {
    margin: 5px;
    padding: 10px;
}
.formGroup button {
    font-weight: 400;
    text-decoration: none;
    color: #BBBBBB;
    background-color: #24262B;
    padding: 4px 14px;
    border: none;
    border-radius: 1px;
}
.formGroup button:hover {
    color: #F9F9F9;
    background-color: #24262B;
    padding: 4px 14px;
    border-radius: 1px;
}
.contactHeader img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}